<h1>Solve this!</h1>
<div>
    <button type="button" >clear</button>
</div>
<table border = true>
    <tbody>
        <% @foreach(1:size(table, 1)) do i
            i%3 == 0 && i != 9 ? bBottom = "4" : bBottom = "1" %>
            <tr>
                <% @foreach(1:size(table, 2)) do j 
                    table[i,j] == 0 ? value = "" : value = table[i,j] 
                    j%3 == 0 && j != 9 ? bRight = "4" : bRight = "1" 
                    value != "" ? readonly = "readonly" : readonly = "" %>
                    <td style='border-right-width:$(bRight)px; border-bottom-width:$(bBottom)px;' > 
                        <form>
                            <input type="text" value=$(value) maxlength="1" $(readonly) size=1 style="box-sizing: border-box;" >
                        </form>
                    </td>
                    <!-- partial("app/resources/field/views/partials/field", value = table[i,j], context = @__MODULE__) -->
                <% end %>
            </tr>
        <% end %>
    </tbody>
</table>
<h2>$(failed ? "Failed to solve" : "Way to easy")</h2>

