<h1>Solve this!</h1>
<h2>$(failed ? "Failed to solve" : "Way to easy")</h2>
<table border = "1">
    <tbody>
        <% @foreach(1:size(table, 1)) do i %>
            <tr>
                <% @foreach(1:size(table, 2)) do j %>
                    <td> 
                        <form>
                            <input type="text" value=$(table[i,j]) maxlength="1" size="1">
                        </form>
                    </td>
                    <!-- partial("app/resources/field/views/partials/field", value = table[i,j], context = @__MODULE__) -->
                <% end %>
            </tr>
        <% end %>
    </tbody>
</table>
<!-- <table border = "1">
    <% @foreach(1:size(field, 1)) do i %>
        <tr>
            <% @foreach(1:size(field, 2)) do j %>
                <td>$(field[i,j])</td>
            <% end %>
        </tr>
    <% end %>
</table> -->

<!-- <table border = "1">
    <tr>
       <td>Row 1, Column 1</td>
       <td>Row 1, Column 2</td>
    </tr>
    
    <tr>
       <td>Row 2, Column 1</td>
       <td>Row 2, Column 2</td>
    </tr>
 </table> -->
